body {
  background: black;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding-top: 40px;
}

div.post-container {
  width: 600px;
  background: white;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

div.image img {
  width: 100%;
  height: auto;
  display: block;
}

div.top-bar,
div.buttons,
div.likes,
div.description {
  width: 100%;
  box-sizing: border-box;
}

div.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  width: 100%;
  background: white;
  box-sizing: border-box;
}
div.logo,
div.titles {
  display: flex;
  align-items: center;
}

div.titles {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

div.title1 {
  font-weight: bold;
}

div.image {
  box-sizing: border-box;
  background: gray;
}

div.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background: white;
}

div.left-buttons {
  display: flex;
  gap: 5px;
}

div.bookmark {
  box-sizing: border-box;
  background: white;
  padding: 1rem;
  float: right;
}

div.likes {
  box-sizing: border-box;
  background: white;
  padding: 2rem;
}

div.description {
  box-sizing: border-box;
  background: white;
  padding: 2rem;
}
